extends layout

block content
	div

			div(data-role='fieldcontain')
					div(id="whoops")
					div(class="container")
						div(class="row")
							div(class="col-xs-1 col-md-3 col-lg-4")
							div(class="col-xs-6 col-md-5 col-lg-4")
								div(class="well clearfix")
									span(id="count")
									h1(id="result_title" align="center")
									div(align="center")
										img(id="card_img" src="/images/mystery.png" width="301" height="416")
									div(align="center")
										input(class="btn btn-primary btn-lg" type="submit" value="New Card" onClick="window.location.reload();")
						div(class="row")
							div(class="col-xs-1 col-md-3 col-lg-4")
							div(class="col-xs-6 col-md-5 col-lg-4")
								div(id="hint1" class="col-xs-12 col-md-12 alert alert-info")
								div(id="hint2" class="col-xs-12 col-md-12 alert alert-warning")
								div(id="answers")
									div(id="answer0" class="col-xs-6 col-md-6")
										br
									div(id="answer1" class="col-xs-6 col-md-6")
										br
									div(id="answer2" class="col-xs-6 col-md-6")
										br
									div(id="answer3" class="col-xs-6 col-md-6")
										br
							div(Class="col-xs-4 col-md-4")

			script(type="text/javascript").
				$(function () {
					var correct = 0;
					if (typeof sessionStorage.count === 'undefined') {
						sessionStorage.count = 0;
					}
					console.log(sessionStorage);


					$(document).ready(function (e) {
						$("#count").html("<b>Correct in a row:</b> " + sessionStorage.count);
						$.ajax({
							type: 'GET',
							contentType: 'application/json',
							url: '/api/get_round',
							success: function(data) {
								$('#result_title').append('MYSTERY');
								correct = data.correct;

								for (i = 0; i < 4; i++) {
									if (data.cards[i].id === correct){
							    		$('#answer'+i).append('<button name="button'+i+'" value="'+data.cards[i].id+'" id="button'+i+'" class="btn btn-info">'+data.cards[i].name+'</button>')
							    	} else {
							    		$('#answer'+i).append('<button name="button'+i+'" value="" id="button'+i+'" class="btn btn-info">'+data.cards[i].name+'</button>')
							    	}
								}

								$('#hint1').append(data.cardHint1);
								$('#hint2').append(data.cardHint2);
							}
						});
					});

					$("#answers").one("click", function (e) {
						e.preventDefault();
						answer = e.target.value;
						if (answer == correct){
							$('#result_title').html('<span style="color:green">CORRECT</span>');
							var src = "/hs-images/"+correct+".png";
							$("#card_img").attr("src", src); 
							sessionStorage.count = Number(sessionStorage.count) + 1;
							$("#count").html("<b>Correct in a row:</b> " + sessionStorage.count);
						} else {
							$('#result_title').html('<span style="color:red">INCORRECT</span>');
							sessionStorage.count = 0;
							$("#count").html("<b>Correct in a row:</b> " + sessionStorage.count);
						}
					});
				});



